.row {
  border-style: ridge;
  border-width: 5px;
  border-color: rgb(23, 94, 226);
  border-radius: 5px; 
  background-image: linear-gradient(to top left,
                                      rgb(255, 41, 237) ,
                                      rgb(70, 243, 255) 50%,
                                      rgb(240, 255, 35));
                                      
  box-shadow: inset 2px 2px 3px rgba(51, 247, 12, 0.945),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  margin: 10px 0;
  padding: 10px 0;
}
button{
  margin: 0.5rem 1rem 0 1rem;
}
h4{
  color:rgb(0, 255, 242);
  text-shadow: 2px 2px 2px black;
}
p{
  font-weight: 900;
}
